<button type="button" onclick="history.back()" class="btn btn-success "><i class="fa fa-arrow-left" aria-hidden="true"></i>
   
   </button>

<script src="../js/js.js"></script>


<div class="contenedor p-5">
<div class="col text-center p-2">
    CREAR CUESTIONARIO
</div>
<div class="mx-auto py-xl-8">
<form action="/profesor/crearcuestionario"  class="formulario" method="POST" id="formulario" onsubmit="return validateForm()">
<div class="col-auto  " >
      <input type="text" name="nombre_cuestionario" class="form-control rounded  border-5"  placeholder="TITULO DE EL CUESTIONARIO " id="nombre_cuestionario">
    </div>

<div class="agregarpregunta p-2" id="agregarpregunta">

</div>


<div class="form-group p-2">
<button type="submit" class="btn btn-success btn-block">
         Finalizar
</button>


</div>
    </form>
    <button type="button" onclick="activar()" class="btn btn-success ">AGREGAR PREGUNTA</button>

</div>
</div>
</div>
 