<div class="container">
            <div class="row justify-content-md-center py-sm-2 w=90 border-bottom " style="min-width: 800px;">                
                <div class="col-md-auto justify-content-center" id="centrados">
                   
                   <a href="/agregarcuestionario" class=""  >
                   <div class="card text-white bg-success mb-3" id="btnagregarusuario" >
                        <div class="card-body">
                    AGREGAR CUESTIONARIO   
                        </div>
                    </div>
                    </a>                                              
                    </div>
                </div>
                
                                        </div>